/restservice/.vs
/restservice/restservice/obj
/restservice/restservice/bin
/add_textboxt_to_datagridvew/.vs
/add_textboxt_to_datagridvew/Add textboxt to Datagridvew/obj
/add_textboxt_to_datagridvew/Add textboxt to Datagridvew/bin
/ecnryption-decryption-in-csharp/.vs
/ecnryption-decryption-in-csharp/Ecnryption Decryption/obj
/ecnryption-decryption-in-csharp/Ecnryption Decryption/bin
/load-datagridview-from-database-csharp/.vs
/load-datagridview-from-database-csharp/DataGridview Connect DB/obj
/load-datagridview-from-database-csharp/DataGridview Connect DB/bin
/filter-combobox/.vs
/filter-combobox/Filter Combobox/obj
/filter-combobox/Filter Combobox/bin
/csharp-export-excel/Export Excel/obj
/csharp-export-excel/Export Excel/bin
/csharp-export-excel/.vs
/simple-login-form-csharp/.vs
/simple-login-form-csharp/Connection DB/obj
/simple-login-form-csharp/Connection DB/bin
/newtonsoft-json-csharp/.vs
/newtonsoft-json-csharp/newtonsoft json/obj
/newtonsoft-json-csharp/newtonsoft json/bin
/save-file-text-csharp/.vs
/save-file-text-csharp/Save File txt/obj
/save-file-text-csharp/Save File txt/bin
/datetime-csharp/.vs
/datetime-csharp/Date Time/obj
/datetime-csharp/Date Time/bin
/bind-combobox-csharp/.vs
/bind-combobox-csharp/ComboBox/obj
/bind-combobox-csharp/ComboBox/bin
/camera-capture-csharp/.vs
/camera-capture-csharp/Camera Record/obj
/camera-capture-csharp/Camera Record/bin
/delegates/.vs
/delegates/delegates/bin
/delegates/delegates/obj
